@media screen and (max-width: 950px){
    #header{
        flex-direction: column;
    }

    #logo{
        margin: 3px auto;
    }

    #navmenu{
        margin: -10px auto;
    }

    .scrolled{
        height: 80px !important;
    }

    .scrolled #logo{
        margin-top: 10px !important;
    }

    .scrolled #navmenu{
        margin-top: 1px !important;
        margin-bottom: -10px;
    }

    #navmenu > a{
        margin-bottom: 5px;
    }

    #navmenu > #logo{
        margin-top: 20px !important;
        margin-bottom: 5px;
    }

    #types >div{
    display: flex;
    align-items: center;
    gap: 4px;
    }

    #about img{
        width: 40vw;
    }

    #about p{
        width: 48vw !important;
    }

    .main{
        margin-left: 30px;
    }

    .carousel-container{
        margin-left: 30px !important;
        margin-right: 10px;
    }
}